* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 13px;
  color: #333;
}
body {
  background: #e7ecf4;
}
#header {
  background: #222;
}
#logo,
#search,
#cart {
  height: 60px;
}
#logo {
  padding-top: 5px;
}
#logo h1 {
  margin: 0;
}
#search input {
  width: 50%;
  border-radius: 3px 0 0 3px;
}
#search button {
  border-radius: 0 3px 3px 0;
}
#search button {
  background: #88c99d;
}
#search button:hover {
  background: #88c99d;
}
#cart a,
#cart span {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
#cart {
  text-align: right;
}
#cart a {
  text-decoration: none;
  text-transform: capitalize;
}
#cart span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #88c99d;
  border-radius: 100%;
  text-align: center;
}
#menu {
  overflow: hidden;
  background: #88c99d;
}
#menu ul {
  margin: 0;
}
.menu-item {
  float: left;
  list-style: none;
  padding: 10px;
  border-right: 1px solid #31b573;
}
.menu-item a {
  color: #fff;
  text-decoration: none;
}
.menu-item:hover {
  background: #31b573;
  cursor: pointer;
}
#main,
#sidebar {
  margin-top: 10px;
}

#slide .carousel-inner {
  border-radius: 3px !important;
}

.products {
  margin-top: 20px;
}
.products h3 {
  font-size: 18px;
}
.product-list {
  margin: 0 -2.5px;
}
.product-item {
  padding: 10px;
  margin: 2.5px !important;
}
.product-item img {
  width: 130px;
  height: 180px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.product-item:hover img {
  opacity: 0.5 !important;
}
.product-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.product-item span {
  font-weight: bold;
  color: #88c99d;
}

/*	Fix Flex-box	*/
.product-list:last-child .product-item {
  flex-grow: 0;
  flex-basis: 32.6%;
}

.banner-item {
  margin-bottom: 10px;
}

#footer-top {
  margin-top: 20px;
  background: #fff;
}
#logo-2,
#address,
#service,
#hotline {
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo-2 p {
  text-align: justify;
}
#footer-top h3 {
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

#footer-bottom {
  background: #1d1e24;
  padding: 10px 0;
}
#footer-bottom p {
  margin: 0;
  color: #a1b1bc;
}

@media (max-width: 992px) {
  #banner {
    display: none;
  }
}
@media (max-width: 768px) {
  #slide {
    display: none;
  }
  #cart {
    text-align: left;
  }
  #header {
    position: relative;
  }
  #header > button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
  }
  .menu-item {
    float: none;
    border: none;
    border-bottom: 1px solid #31b573;
  }
}
@media (min-width: 768px) {
  #menu {
    display: block;
  }
  #header > button {
    display: none;
  }
}
