<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tek Computer - Administrator</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/bootstrap-table.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="js/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Tek</span>Computer</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg> Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><svg class="glyph stroked male-user">
                                        <use xlink:href="#stroked-male-user"></use>
                                    </svg> Profile</a></li>
                            <li><a href="#"><svg class="glyph stroked cancel">
                                        <use xlink:href="#stroked-cancel"></use>
                                    </svg>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li class="active"><a href="index.html"><svg class="glyph stroked dashboard-dial">
                        <use xlink:href="#stroked-dashboard-dial"></use>
                    </svg> Dashboard</a></li>
            <li><a href="member.html"><svg class="glyph stroked male user ">
                        <use xlink:href="#stroked-male-user" />
                    </svg>Member Management</a></li>
            <li><a href="category.html"><svg class="glyph stroked open folder">
                        <use xlink:href="#stroked-open-folder" />
                    </svg>Category Management</a></li>
            <li><a href="product.html"><svg class="glyph stroked bag">
                        <use xlink:href="#stroked-bag"></use>
                    </svg>Product Management</a></li>
            <li><a href="comment.html"><svg class="glyph stroked two messages">
                        <use xlink:href="#stroked-two-messages" />
                    </svg> Comment Management</a></li>
            <li><a href="ads.html"><svg class="glyph stroked chain">
                        <use xlink:href="#stroked-chain" />
                    </svg>Advertisement Management</a></li>
            <li><a href="setting.html"><svg class="glyph stroked gear">
                        <use xlink:href="#stroked-gear" />
                    </svg> Configuration</a></li>
        </ul>

    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home">
                            <use xlink:href="#stroked-home"></use>
                        </svg></a></li>
                <li><a href="">Product Management</a></li>
                <li class="active">Product 1</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Product: Product 1</h1>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form role="form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" name="prd_name" required class="form-control" value="Product 1"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <input type="number" name="prd_price" required value="18500000"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Warranty</label>
                                    <input type="text" name="prd_warranty" required value="12 months"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Accessories</label>
                                    <input type="text" name="prd_accessories" required value="Charger, Earphones..."
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Promotion</label>
                                    <input type="text" name="prd_promotion" required value="Power bank"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Condition</label>
                                    <input type="text" name="prd_new" required value="Like new 99%" type="text"
                                        class="form-control">
                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Image</label>
                                <input type="file" name="prd_image" required>
                                <br>
                                <div>
                                    <img src="img/download.jpeg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select name="cat_id" class="form-control">
                                    <option selected value=1>iPhone</option>
                                    <option value=2>Samsung</option>
                                    <option value=3>Nokia</option>
                                    <option value=4>LG</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Status</label>
                                <select name="prd_status" class="form-control">
                                    <option selected value=1>In stock</option>
                                    <option value=2>Out of stock</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Featured Product</label>
                                <div class="checkbox">
                                    <label>
                                        <input name="prd_featured" type="checkbox" value=1>Featured
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Product Description</label>
                                <textarea name="prd_details" required class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" name="sbm" class="btn btn-primary">Update</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->

    </div> <!--/.main-->
</body>

</html>